@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: url(/img/Fondo/fondo-primavera-dibujado-flores_23-2148833619.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  
}
/*-----------------------------ESPICIFACIONES DEL NAVEGADOR-----------------------------*/



/*Nav es el elemneto que contiene el navegador*/
.nav {
  width: 100%;
  height: auto;
  display: flex;
  position: fixed;
  z-index: 100;/*Este parametro hace fijo el menu*/
  justify-content: center;
  text-align: center;
}
/* Nav__link son los item que contiene texto y hipervinculo*/
.nav__link {
  width: auto;
  color: #000000;
  display: block;
  
  padding: 15px 1px;
  text-decoration: none;
  border-radius: 25%;
}
/*nav__link:hover es la funcion que resalta el texto*/
.nav__link:hover {
  color: #000000;
  text-decoration: none;
}
/*nav__link--inside son los textos de las sub_categorias*/
.nav__link--inside {
  border-radius: 6px;
  padding-left: 0;
  text-align: center;
}
/*nav__link--inside:hover son los textos de las sub_categorias pero resaltados*/
.nav__link--inside:hover {
  background: #867e71;
  text-decoration: none;
}
/*logo_img es la clase que contiene el logo ademas de especificar la ubicacion y contencion*/
.logo_img {
  width: 50px;
  height: 50px;
  justify-content: center;
  top: 10px;
  left: 45px;
  border-radius: 50%;
}

/*esta clase es para ubicar el contenido del titulo y logo de la pagina*/
.list__logo{
  justify-content: center;
  margin-right: 505px;

}
.nav__login{
  width: auto;
  color: #000000;
  display: block;
  padding: 15px 1em;
  text-decoration: none;
  border-radius: 25%;
}

.nav__login:hover {
  color: #000000;
  text-decoration: none;
}




/*list es la clase que contiene todo lo del navegador, desde botones, sub botones y imagnes de logo*/
.list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 0;
  margin: 0;
  justify-content: right;
  flex-direction: row;
  background: white;
  box-shadow: 0px 0px 5px black inset;
}
/*list__item es el contorno de cada boton*/
.list__item {
  list-style-type: none;
  width: 10%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  margin-left: 10px;
}
/*list__item--click es una sub clase donde se especifica un boton con opciones desplegables */
.list__item--click {
  cursor: pointer;
  margin-bottom: 10px;
}
/*list__button es la clase que contiene las espcificaciones del contorno de los botones*/
.list__button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  margin: 0;
  
}
/*.arrow .list__arrow  es la clase conjunta con javaScript que realiza la animacion de la flecha*/
.arrow .list__arrow {
  transform: rotate(90deg);
}
/*list__arrow es la clase que contiene la imagen de la flecha desplegable*/
.list__arrow {
  margin-left: 0;
  transition: transform 0.3s;
}
/*list__show es la clase que contiene los botones desplegables */
.list__show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height 0.4s;
  height: 0;
}
/*list__inside no fue agregado dado que de forma predeterminada deja el boton en base a list__show*/
/*------------------------------------------------------------------------------------------------*/

/*-----------------------------ESPICIFACIONES DEL CONTENEDOR-----------------------------*/
.carrusel{
  height: 350px;
  width: 750px;
  display: flex;
  position: relative;
  top: 300px;
  left: 100px;
  justify-content: center;
  align-items: center;
  

}