/* ? Contenedor de Importacion e instrumento universal*//*verificado*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



/* Todo X-Small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) { 
  
}

/* Todo Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) { 

 }

/* Todo Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {

 }

/* Todo Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) { 

 }

/*  Todo X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) {

/*!  -----------------------------Fondo---------------------------------*/

body {
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffc371,
    #ff5f6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffc371,
    #ff5f6d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-attachment: fixed;
}
/*!-----------------------------ESPICIFACIONES DEL NAVEGADOR-----------------------------*/

/*Nav es el elemneto que contiene el navegador*/
.nav {
  top: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1; /*Este parametro hace fijo el menu*/
}
#navB{
  top: 80px;
  transition: top 0.7s;
}
/* Nav__link son los item que contiene texto y hipervinculo*/
.nav__link {
  width: auto;
  color: #000000;
  display: block;

  padding: 15px 1px;
  text-decoration: none;
  border-radius: 25%;
}
/*nav__link:hover es la funcion que resalta el texto*/
.nav__link:hover {
  color: #000000;
  text-decoration: none;
}
/*nav__link--inside son los textos de las sub_categorias*/
.nav__link--inside {
  border-radius: 6px;
  padding-left: 0;
  text-align: center;
}
/*nav__link--inside:hover son los textos de las sub_categorias pero resaltados*/
.nav__link--inside:hover {
  background: #867e71;
  text-decoration: none;
}
/*logo_img es la clase que contiene el logo ademas de especificar la ubicacion y contencion*/
.logo_img {
  width: 50px;
  height: 50px;
  justify-content: center;
  top: 10px;
  left: 45px;
  border-radius: 50%;
}

/*esta clase es para ubicar el contenido del titulo y logo de la pagina*/
.list__logo {
  justify-content: center;
  margin-right: 650px;
}

/*esta clase es el texto del item iniciar sesion*/
.nav__login {
  width: auto;
  color: #000000;
  display: block;
  padding: 15px 1em;
  text-decoration: none;
  border-radius: 25%;
}
/*esta clase evita el cambio del texto cuando se posiciona en el item*/
.nav__login:hover {
  color: #000000;
  text-decoration: none;
}

/*list es la clase que contiene todo lo del navegador, desde botones, sub botones y imagnes de logo*/
.list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 0px;
  padding: 10px;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border: 1px solid black;
}
/*list__item es el contorno de cada boton*/
.list__item {
  list-style-type: none;
  width: 10%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  margin-left: 10px;
}
/*list__item--click es una sub clase donde se especifica un boton con opciones desplegables */
.list__item--click {
  cursor: pointer;
  margin-bottom: 10px;
}
/*list__button es la clase que contiene las espcificaciones del contorno de los botones*/
.list__button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 1;
}
/*.arrow .list__arrow  es la clase conjunta con javaScript que realiza la animacion de la flecha*/
.arrow .list__arrow {
  transform: rotate(90deg);
}
/*list__arrow es la clase que contiene la imagen de la flecha desplegable*/
.list__arrow {
  margin-left: 0;
  transition: transform 0.3s;
}
/*list__show es la clase que contiene los botones desplegables */
.list__show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height 0.4s;
  height: 0;
}
/* ?list__inside no fue agregado dado que de forma predeterminada deja el boton en base a list__show*/

/*Esto modifica el buscador*/
.buscador {
  position: absolute;
  display: flex;
  right: 900px;
  top: 20px;
}

.buscar{
  border-radius: 23px;
  padding: 5px;
}
/*------------------------------------------------------------------------------------------------*/

/*-----------------------------ESPICIFACIONES DEL CONTENEDOR-----------------------------*/
#titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #303440;
  color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
}
#cabecera {
  top: 0;
  width: 100%;
  z-index: 100; /*Este parametro hace fijo el menu*/
  position: fixed;
  transition: 0.5s;
}

.container1{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  left: 0px;
  top: 200px;
}

.container2 {
  position: relative;
}

#carrusel {
  width: 600px;
}

.carousel-inner {
  border-radius: 20px;
  border: 2px solid #303440;
  object-fit: contain;
}
.textoCarru{
  -webkit-text-stroke:0.2px#000000;

}
#texto_principal {
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 600px;
  margin-left: 145px;
  background-color: #f7c231;
  border-radius: 16px;
  border: 1px solid #000000;
  box-shadow: 0px 0px 10px black;
}

.fondo {
  margin: 0;
  position: relative;
  top: 1000px;
  height: 300px;
  background-color: #303440;
}
#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.tituloF {
  color: white;
}

.bodyF {
  color: white;
}
.hvf {
  text-decoration: none;
  color: gray;
}

.Ctarjeta{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.img_card{
  width: 100px;
  height: 100px;
}

.categoria{
  position: relative;
  top: 400px;
  width: 100%;
}

.tarjeta{
  width: 13%;
  background-color: white;
  padding: 10px;
  border-radius: 16px;
  
  
  
}
.tarjeta:hover{

  transition: 0.5s;
  transform: scale(1.2);
  border: 1px solid #f7c231;
  box-shadow: 0px -10px 20px #fcb900;
}


.tarjeta_titulo{
  padding: 10px;
  text-decoration: none;
  color: #000000;
  -webkit-text-stroke: 1px #f7c231;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



}

